{% extends "layout.html" %}

{% block body %}
<form1 action="/home">
	<div id="contents">
		<div id="adbox">
			<div class="wrapper clearfix">
				<div class="info">
					<h1>¿Que es Astronic?</h1>
					<p>
						Astronic es un blog sobre Astronomía, donde se espera reunir una comunidad Nicaragüense interesada en la astronomía, el cual entre los participantes se espera debate o dialogo respetuoso sobre los sucesos o temas abordados en nuestro blog
					</p>
				</div>
			</div>
			<div class="highlight">
				<h2> "El estudio del universo es un viaje para autodescubrirnos" - Carl Sagan</h2>
			</div>
		</div>
		<div class="body clearfix">
			<div class="click-here">
				<h1>¡Blog!</h1>
				<a href="/blog" class="btn2">Enterate Aquí</a>
			</div>
			<div class="notice">
				<p></p>
			<p>
				Forma parte de nuestra comunidad, participando en el blog, comentando y participando en el debate ¡Tu participación es importante!
			</p>
			</div>
		</div>
	</div>
	<div id="footer">
		<ul id="featured" class="wrapper clearfix">
			<li>
				<img src="static/images/edutin.png" alt="Img" height="204" width="220">
				<h3><a href="https://edutin.com/curso-de-astronomia-3950" target="_blank">Edutin Academy</a></h3>
				<p>
					"El curso de Astronomía tiene el propósito de que el estudiante logre comprender qué es el espacio y qué aplicaciones prácticas acompañan el estudio del universo, conociendo de esta forma cómo se orienta la navegación en mares y en el aire, cómo se arman los calendarios y cómo se mide con exactitud el tiempo, con la finalidad de ampliar su visión del mundo a través de las ciencias del espacio."
				</p>
			</li>
			<li>
				<img src="static/images/arizona.png" alt="Img" height="204" width="220">
				<h3><a href="https://www.coursera.org/learn/astro" target="_blank">University of Arizona</a></h3>
				<p>
					"Este curso está diseñado para cualquier persona que esté interesada en aprender más sobre la astronomía moderna. Le ayudaremos a ponerse al día sobre los descubrimientos astronómicos más recientes y, al mismo tiempo, proporcionaremos apoyo a un nivel introductorio para aquellos que no tienen experiencia en ciencias."
				</p>
			</li>
			<li>
				<img src="static/images/edx.png" alt="Img" height="204" width="220">
				<h3><a href="https://www.edx.org/es/course/astronomia-virtual" target="_blank">EdX</a></h3>
				<p>
					"Se trata de un curso en línea para entusiastas de la Astronomía y las ciencias del espacio, que no requiere de ningún conocimiento académico previo."
				</p>
				</p>
			</li>
			<li>
				<img src="static/images/houston.jpeg" alt="Img" height="204" width="220">
				<h3><a href="https://www.coursera.org/learn/human-spaceflight?ranMID=40328&ranEAID=OUg*PVuFT8M&ranSiteID=OUg.PVuFT8M-sOp0ELQRLJiYtCckFxBD1Q&siteID=OUg.PVuFT8M-sOp0ELQRLJiYtCckFxBD1Q&utm_content=10&utm_medium=partners&utm_source=linkshare&utm_campaign=OUg*PVuFT8M" target="_blank">Univeristy of Houston</a></h3>
				<p>
					"Este curso proporciona una visión de la historia de los vuelos espaciales, desde los primeros escritos que relatan la fascinación humana por el espacio hasta las primeras estaciones espaciales rusas y estadounidenses. Desarrollado como un segmento interesante y entretenido de la historia del espacio al que puede acceder cualquier persona interesada en los vuelos espaciales tripulados."
				</p>
				</p>
			</li>
		</ul>
		<div class="body">
			<div class="wrapper clearfix">
				<div id="links">
					<div>
						<h4>Redes Sociales</h4>
						<ul>
							<li>
								<a href="https://www.instagram.com/astronomianicaragua/" target="_blank">Instagram</a>
							</li>
							<li>
								<a href="https://www.facebook.com/AstroNic-108125784817879" target="_blank">Facebook</a>
							</li>
						</ul>
					</div>
					<div>
				</div>
			</div>
				<p class="footnote">
					© Copyright © 2021.AstroNic
				</p>
			</div>
		</div>
	</div>

</form1>

{% endblock %}